<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>방명록</title>

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script defer src="js/noteVue.js"></script>
  <script type="module" src="js/note.js"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<style>
		.certification > div {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 2;
			background: white;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		input[type=password]:not(.browser-default):focus:not([readonly]) {
			border-bottom: 1px solid #E6617A;
			box-shadow: 0 1px 0 0 #E6617A;
		}
		input[type=password]:not(.browser-default):focus:not([readonly])+label {
			color: #E6617A;
		}
		
		.certificated { display: none; }
	</style>
</head>
<body>
	<div class="certification">
		<div v-if="!certificated">
			<form class="card" style="padding: 1rem;" @submit.prevent="login">
				<h5 class="center">방명록</h5>
				<div class="input-field col s6">
					<input id="last_name" type="password" v-model="password" class="validate">
					<label for="last_name">비밀번호</label>
				</div>
			</form>
		</div>
	</div>
  <div class="container note">
		<div class="card">
			<h4 style="padding: 1rem;">방명록</h4>
			<table class="centered highlight striped">
				<thead>
					<tr>
						<th>번호</th>
						<th>참석자 및 인원수</th>
						<th>작성일</th>
						<th>동작</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in list">
						<td>{{ index + 1 }}</td>
						<td>{{ item.data.memo }}</td>
						<td v-html="filteredTimestamp2(item.data.date)"></td>
						<td>
							<i class="material-icons pink-text text-lighten-2" @click="openModal(item.id)">delete</i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="modal" class="modal">
			<div class="modal-content">
				<p>해당 글을 지우시겠습니까?</p>
			</div>
			<div class="modal-footer">
				<a href="javascript:" class="modal-close waves-effect waves-light btn red" @click="remove">확인</a>
				<a href="javascript:" class="modal-close waves-effect waves-light btn green" style="margin-left: 1rem;">취소</a>
			</div>
		</div>
	</div>
</body>
</html>